body {
  background-color: #000;
  color: #fff;
  font-family: $primary-font;
  font-size: 14px;
}

.content {
  width: 1000px;
  margin: 0 auto;
  display: block;
  @media only screen and (max-width: 1220px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  &--loading {
    opacity: 0;
    filter: blur(3px);
  }

  transition: 1s ease;
  opacity: 1;
  filter: blur(0);
}

.page:not(.home){
  padding-top: 150px;
}
footer{
  position: absolute;
  bottom: 0;
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  p {
    font-size: 14px;
    color: rgba(#fff, 0.25);
  }

}