.nav {
  padding: 30px 0;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;

  &__logo {
    margin-right: auto;
    font-family: $secondary-font;
    display: block;
  }

  &__toggle {
    margin-left: 20px;
    width: 25px;
    height: 10px;
    position: relative;
    cursor: pointer;

    &:after, &:before {
      content: "";
      width: 100%;
      right: 0;
      position: absolute;
      background-color: #fff;
      height: 1px;
      transition: $default-transition;
    }
    &:before{
      top: 0;
    }
    &:after {
      bottom: 0;
      width: 50%;
    }
    &:hover{
      &:after{
        width: 100%;
      }
    }
    &--active{
      &:after, &:before {
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
  }

  .link {
    font-family: $secondary-font;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    opacity: 0;
    filter: blur(3px);
    &:hover {
      opacity: 1;
    }
  }
}